@media print, (max-width: 767px) {

    .header_description .title {
        margin-top: 18px;
        font-size: 28px;
    }
    .text_block .right {
        float: none;
    }
    .text_block img {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 15px;
        width: 100%;
        height: auto;
    }
    header .bottom {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .header_description {
        margin-top: 40px;
    }
    header {
        padding-bottom: 35px;
    }
    .articles {
        padding: 30px 0;
    }
    footer {
        padding: 30px 0;
    }
    .text_block h2 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    .text_block p {
        margin-bottom: 15px;
    }
    .bottom .logo img {
        width: 200px;
    }
    .breadcrumbs {
        font-size: 12px;
    }
    .breadcrumbs a {
        font-size: 12px;
    }
    .breadcrumbs .sep {
        font-size: 12px;
    }
    .bottom .contacts .contact_mail {
        font-size: 12px;
    }
    footer .adres {
        font-size: 15px;
        line-height: 18px;
        margin-right: 15px;
    }
    footer .info_link a {
        font-size: 15px;
        line-height: 18px;
    }
    footer .info_link {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    .bottom {
        flex-direction: column;
        margin-bottom: 30px;
    }
    footer .info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .adres {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .bottom .contacts .contact {
        text-align: center;
    }
    .bottom .contacts {
        margin-top: 20px;
    }
    .bottom .contacts .contact_phone {
        text-align: end;
    }

    .home-page .header_description .title {
        font-size: 35px;
        line-height: 44px;
        margin-bottom: 28px;
    }
    .home-page .header_description {
        margin-top: 50px;
    }
    .home-page header {
        padding-bottom: 50px;
    }
    .home-page .header_description .title {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 22px;
    }

    .home-page header .btn {
        width: 250px;
        margin-top: 15px;
        height: 60px;
    }
    .block_head .title {
        font-size: 30px;
        line-height: 42px;
    }
    .block_head .view-all {
        width: 190px;
        height: 50px;
    }
    .block {
        padding: 40px 0;
    }
    .services_items > * {
        width: calc(100%/2 - 20px);
    }
    .advantages_items > * {
        width: calc(100%/2 - 20px);
    }
    .block_head .title {
        width: calc(100% - 200px);
    }
    .news_items > * {
        width: calc(100%/2 - 20px);
    }
    .news_item-info .title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 8px;
    }
    .news_item-info {
        padding: 20px 16px;
    }
    .news_item-info .text {
        margin-bottom: 12px;
    }
    .contacts_right {
        padding: 40px 20px 20px;
    }
    .contacts-block .map_wrap {
        height: 350px;
    }
    .about .left {
        padding: 40px 0;
    }
    .accordion_title {
        font-size: 24px;
        line-height: 28px;
    }
    .accordion .accordion_item .head .title {
        font-size: 18px;
    }
    .accordion .data .text_block p {
        font-size: 14px;
    }
    .accordion .accordion_item + .accordion_item {
        margin-top: 20px;
    }
    .accordion .accordion_item {
        padding: 20px;
    }
    .content .text_block img {
        margin-bottom: 20px;
    }
    .content .text_block ul {
        margin-bottom: 20px;
    } 

    .about-page header {
        padding-bottom: 50px;
    }

    .clients_items > * {
        width: calc(100%/2 - 15px);
    }

    .reviews .slide {
        flex-direction: column;
        padding: 20px;
    }
    .reviews .slide_info {
        margin-left: 0px;
        margin-top: 40px;
    }

    .reviews .block_head .title {
        width: calc(100% - 150px);
        text-align: start;
        margin-right: auto;
    }
    .news-page .news {
        padding-bottom: 50px;
    }
    .pagination {
        margin-top: 40px;
    }
    .contact-us form .line:first-child {
        margin-left: 20px;
        margin-right: -20px;
    }
    .contact-us form .line:first-child > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 15px;
    }
    .contact-us form .line:last-child .btn {
        width: 100%;
        margin-left: 0px;
        margin-right: 0;
    }
    .contact-block_items {
        flex-direction: column;
    }
    .contact-block_item .icon {
        width: 50px;
        height: 50px;
    }
    .contact-block_item .name {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 4px;
    }
    .contact-block_item .phone,
    .contact-block_item .email,
    .contact-block_item .adress {
        font-size: 18px;
        line-height: 24px;
    }
    .contact-us .block_head .text {
        font-size: 16px;
    } 
    .contact-us .block_head .title {
        margin-bottom: 12px;
    }
    .contact-block_items > * {
        margin-right: 0px;
    }
    .contact-block_item {
        margin-bottom: 20px;
    }
    .contact-block .block_head {
        margin-bottom: 20px;
    }
    .contact-us form .line:last-child .btn {
        height: 60px;
    }
    .contact-block .map_wrap {
        height: 300px;
    }
    .contacts-page .breadcrumbs {
        margin-bottom: 25px;
    }





}
