@media print, (max-width: 1023px) {
 
    :root
    {
        --font_size: 15px;
    }

  

    header .mob_menu_btn {
        display: flex;
    }
    header .menu {
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;

        display: flex;
        overflow: auto;

        width: 295px;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 30px 20px;

        transition: transform .3s linear;
        transform: translateX(-100%);

        background: #fff;

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show
    {
        transform: translateX(0);
    }
    header .menu .close_btn
    {
        display: flex;
    }
    header .menu .item
    {
        width: 100%;
    }

    header .menu .item + .item
    {
        margin-left: 0;
    }

    header .menu .item > a
    {
        display: block;

        height: auto;
        padding: 17px 0;

        text-align: left;
        color: #000;
    }

  
    .mob_menu_btn span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        transition: background .2s linear;
        background: #fff; 
    }
    .mob_menu_btn span:before, 
    .mob_menu_btn span:after {
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition: .2s linear;
        background: #fff;
    }
    .mob_menu_btn span:after {
        top: 8px;
    }
    .mob_menu_btn.active span {
        background: transparent;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }

    header .contacts {
        display: none;
    }
    header .contacts-mob {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contacts .contact {
        text-align: center;
        margin-right: 0px;
        margin-top: 20px;
    }
    .contacts.contacts-mob .contact_phone,
    .contacts.contacts-mob .contact_mail {
        color: #212121;
    }
    .contacts.contacts-mob .contact_mail {
        margin-bottom: 20px;
    }

    .contacts .contact_phone {
        font-size: 18px;
    }

    .breadcrumbs {
        margin-top: 30px;
    }
    header .bottom {
        display: none;
    }
    header .logo {
        display: none;
    }
    header .logo-mob {
        display: block;
    }
    header .logo-mob img {
        width: 200px;
    }

    .breadcrumbs {
        font-size: 14px;
    }
    .breadcrumbs a {
        font-size: 14px;
    }
    .breadcrumbs .sep {
        font-size: 14px;
    }
    .header_description {
        margin-top: 70px;
    }
    .header_description .title {
        margin-top: 20px;
        font-size: 35px;
        line-height: 1.4;
    }

    .text_block img {
        width: 350px;
        height: 225px;
    }
    .text_block h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 9px;
    }
    .text_block p {
        margin-bottom: 20px;
    }
    .articles {
        padding: 50px 0;
    }
    .bottom .logo {
        margin-right: 15px;
    }
    .bottom .logo img {
        width: 250px;
    }
    .bottom .contacts .contact_phone {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 6px;
    }
    footer {
        padding: 50px 0;
    }




    
}
