@media print, (max-width: 767px) {


    footer .bottom .logo img {
        width: 200px;
    }
    footer .bottom .contacts .contact_mail {
        font-size: 12px;
    }
    footer .adres {
        font-size: 15px;
        line-height: 18px;
        margin-right: 15px;
    }
    footer .info_link a {
        font-size: 15px;
        line-height: 18px;
    }
    footer .info_link {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
    footer .bottom {
        flex-direction: column;
        margin-bottom: 30px;
    }
    footer .info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .adres {
        margin-right: 0;
    }
    footer .bottom .contacts .contact {
        text-align: center;
    }
    footer .bottom .contacts {
        margin-top: 20px;
    }
    footer .bottom .contacts .contact_phone {
        text-align: end;
    }






}
