@media print, (max-width: 1187px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 15px;
        --font_size_title: 30px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        height: 48px;
    }

    header .logo img + img
    {
        height: 28px;
        margin-left: 12px;
    }


    header .menu .item + .item
    {
        margin-left: 28px;
    }

    header .menu .item > a
    {
        height: 72px;
    }



}
