@media (max-width: 479px) {

    footer .btn {
        width: 100%;
    }
    footer .bottom .contacts {
        flex-direction: column;
        width: 100%;
    }
    footer .bottom .contacts .contact {
        margin-right: 0;
        margin-bottom: 10px;
    }
    footer .bottom .logo img {
        width: 250px;
    }


   
}
