@media (max-width: 479px) {

    :root
    {
        --font_size_title: 24px;
    }

    footer .btn {
        width: 100%;
        margin-top: 15px;
    }
    header .btn {
        width: 100%;
        margin-top: 15px;
    }
    .bottom .contacts {
        flex-direction: column;
        width: 100%;
    }
    .bottom .contacts .contact {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .bottom .logo img {
        width: 250px;
    }
    .header_description .title {
        margin-top: 10px;
        font-size: 24px;
    }
    .header_description .text {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 20px;
    }
    .articles {
        padding: 30px 0;
    }
    footer {
        padding: 30px 0;
    }
    footer .bottom {
        margin-bottom: 20px;
    }
    .modal {
        padding: 25px 20px;
    }
    .modal .btn {
        height: 60px;
    } 
    .modal_title {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 30px;
    }
    footer .bottom .contacts .contact_phone {
        text-align: center;
    }


    .home-page header .btn {
        width: 100%;
        margin-top: 15px;
        height: 60px;
    }
    .home-page header {
        padding-bottom: 40px;
    }

    .block {
        padding: 30px 0;
    }

    .block_head .title {
        width: 100%;
    }

    .services_items {
        margin-bottom: -20px;
        margin-left: 0px;
    }
    .services_items > * {
        margin-bottom: 20px;
        margin-left: 0px;
        width: 100%;
    }
    .advantages_items {
        margin-left: 0px;
        margin-bottom: -20px;
    }
    .advantages_items > * {
        margin-left: 0px;
        margin-bottom: 20px; 
        width: 100%;
    }
    .about-page header {
        padding-bottom: 40px;
    }
    .about .left {
        padding: 30px 0;
    }
    .about .read-more {
        width: 100%;
        height: 50px;
    }
    .news_items {
        margin-left: 0px;
        margin-bottom: -20px;
    }
    .news_items > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .contacts_right {
        padding: 30px 20px 20px;
    }
    .contacts-block .block_head .title {
        margin-bottom: 10px;
    }
    .block_head .text {
        font-size: 16px;
        line-height: 130%;
    }
    .contacts-block form .btn {
        width: 100%;
        height: 65px;
        margin-top: 0;
    }
    .contacts-block .map_wrap {
        height: 280px;
    }
    .block_head .title {
        line-height: 33px;
    }
    .block_head {
        margin-bottom: 20px;
    }


    .btns {
        flex-direction: column;
        margin-top: 10px;
    }
    .btns .btn:first-child {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .btns .btn {
        width: 100%;
    }
    .service-page header .btn {
        margin-top: 5px;
    }
    .btn {
        height: 60px;
    }

    .pagination a {
        width: 45px;
        height: 45px;
        font-size: 14px;
    }
    .pagination * + * {
        margin-left: 10px;
    }
    .news-page .news {
        padding-bottom: 40px;
    }
    .pagination {
        margin-top: 30px;
    }
    .news-page .breadcrumbs {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .contact-block_item .phone, 
    .contact-block_item .email, 
    .contact-block_item .adress {
        font-size: 16px;
        line-height: 22px;
    }
   
    
    

   
}
