/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #2F3547;
    --font_size: 17px;
    --font_size_title: 46px;
    --font_family: 'Gilroy';
}


::selection
{
    color: #fff;

    background: #476FFD;
}

::-moz-selection
{
    color: #fff;

    background: #476FFD;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}
/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error
{
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show
{
    display: flex;
}



/*---------------
    Accordion
---------------*/
.accordion .accordion_item
{
    padding: 1px 0;

    border-bottom: 1px solid #efefef;
    background: #fbfbfb;
}

.accordion .accordion_item + .accordion_item
{
    margin-top: 25px;
}


.accordion .accordion_item .head
{
    position: relative;

    padding: 32px 97px 32px 40px;

    cursor: pointer;
}


.accordion .accordion_item .head .title
{
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;

    transition: color .2s linear;
}

.accordion .accordion_item .head:hover .title
.accordion .accordion_item.active .head .title
{
    color: #de041d;
}


.accordion .accordion_item .head .icon
{
    color: #de041d;

    position: absolute;
    top: 0;
    right: 45px;
    bottom: 0;

    display: flex;

    width: 25px;
    height: 25px;
    margin: auto;

    transition: .2s linear;

    border: 2px solid #de041d;
    border-radius: 4px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.accordion .accordion_item .head .icon > *
{
    display: block;

    width: 11px;
    height: 11px;
}

.accordion .accordion_item .head .icon > * + *
{
    width: 11px;
    height: 3px;
}

.accordion .accordion_item .head .icon > * + *,
.accordion .accordion_item.active .head .icon > *
{
    display: none;
}

.accordion .accordion_item.active .head .icon > * + *
{
    display: block;
}

.accordion .accordion_item .head:hover .icon
{
    color: #fff;

    background: #de041d;
}


.accordion .accordion_item .data
{
    display: none;

    margin: 0 40px 40px;
}


.accordion .tabs ~ .accordion_item
{
    padding: 0;

    border: none;
    background: none;
}

.accordion .tabs ~ .accordion_item + .accordion_item
{
    margin: 0;
}

.accordion .tabs ~ .accordion_item .head
{
    display: none;

    border-bottom: 1px solid #efefef;
    background: #fbfbfb;
}

.accordion .tabs ~ .accordion_item .data
{
    display: block;

    margin: 0;
}



/*----------
    Tabs
----------*/
.tabs
{
    display: flex;

    margin-bottom: 30px;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}


.tabs button
{
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;

    position: relative;

    display: flex;

    width: 100%;
    height: 104px;
    padding: 12px 24px;

    transition: .2s linear;
    text-align: center;

    border-bottom: 5px solid #efefef;
    background: #fbfbfb;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.tabs button + button
{
    margin-left: 2px;
}

.tabs button:hover
{
    color: #de041d;
}

.tabs button.active
{
    color: #de041d;

    border-color: #de041d;
}


.tab_content
{
    position: relative;

    visibility: hidden;
    overflow: hidden;

    height: 0;

    pointer-events: none;

    opacity: 0;
}

.tab_content.active
{
    visibility: visible;
    overflow: visible;

    height: auto;

    transition: opacity .5s linear;
    pointer-events: auto;

    opacity: 1;
}



/*-------------------
    Mob. all link
-------------------*/
.mob_all_link
{
    display: none;

    margin-top: 28px;

    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.mob_all_link a
{
    color: #de041d;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;

    display: flex;

    transition: color .2s linear;
    white-space: nowrap;
    text-decoration: none;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.mob_all_link a .icon
{
    display: block;

    width: 12px;
    height: 11px;
    margin-left: 10px;
}

.mob_all_link
{
    color: #c10117;
}



/*------------
    Header
------------*/
header {
    z-index: 3;
    padding-bottom: 62px;   
     background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
    background-image: linear-gradient(278.08deg, rgba(85, 109, 193, 0.24) -13.7%, rgba(17, 18, 23, 0.93) 97.79%), url(../images/articles_bg.jpg);
}
header .info {
    background: rgba(0, 0, 0, 0.25);
}
header .info .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 9px;
    padding-top: 10px;
    position: relative;
}
.bottom {
    margin-top: 37px;
    margin-bottom: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom .contacts {
    display: flex;
    align-items: center;    
}
.bottom .contacts .contact {
    text-align: end;
    margin-right: 27px;
}
.bottom .contacts .contact a {
    display: block;    
}
.bottom .contacts .contact_phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 8px;
}
.bottom .contacts .contact_mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
}
.btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background: #476FFD;
    border-radius: 12px;
    padding: 17px;
    width: 198px;
    height: 53px;
    transition: background .4s;
}
.btn:hover {
    background: #526cca;
}


header .logo
{
    color: currentColor;

    display: flex;

    text-decoration: none;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

header .logo img
{
    display: block;
}

header .logo img + img
{
    margin-left: 19px;
}

header .mob_menu_btn
{
    display: none;

    width: 30px;
    height: 28px;
    margin-right: 0px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .mob_menu_btn .icon
{
    display: block;

    width: 20px;
    height: 18px;
}

header .menu {
    max-width: 723px;
    width: 100%;
    justify-content: space-between;
}

header .menu .close_btn
{
    color: #000;

    position: absolute;
    top: 23px;
    left: 23px;

    display: none;

    width: 20px;
    height: 20px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .menu .close_btn .icon
{
    display: block;

    width: 18px;
    height: 18px;
}


header .menu .item 
{
    margin-right: 30px;
}
header .menu .item:last-child {
    margin-right: 0;
}

header .menu .item > a
{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;

    position: relative;

    display: flex;

    padding: 7px 0;

    transition: color .2s linear;
    text-align: center;
    text-decoration: none;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

header .menu .item:hover > a,
header .menu .item.current-menu-item > a
{
    color: #476FFD;
}

header .menu .item.current-menu-item > a:after
{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    width: 100%;
    height: 5px;
    margin: auto;

    content: '';

    background: #de041d;
}


.header_description {
    margin-top: 196px;
}
.header_description .date {
    width: 88px;
    height: 27px;
    background: #476FFD;
    border-radius: 90px;
    font-weight: 700;
    font-size: 14px;
    line-height: 138%;
    text-align: center;
    color: #FFFFFF;
    padding: 4px 7px;
}
.header_description .title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #FFFFFF;
    max-width: 800px;
    width: 100%;
}


/*---------------
    Page head
---------------*/
.page_head
{
    margin-bottom: 43px;
}


.breadcrumbs
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    
}


.breadcrumbs a
{
    transition: color .2s linear;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.breadcrumbs a:hover
{
    color: #476FFD;
}


.breadcrumbs .sep
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    display: inline-block;

    vertical-align: top;
}


/* articles */

.articles {
    padding: 80px 0 75px;
}
.text_block img {
    border-radius: 10px;
    margin-left: 30px;
    width: 585px;
    height: 375px;
    object-fit: cover;
}
.text_block h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: var(--text_color);   
    margin-bottom: 13px;
}
.text_block p {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 26px;    
    color: var(--text_color);  
}
.text_block p:last-child {
    margin-bottom: 0;
}


/* footer */

footer {
    padding: 75px 0 65px;
    background: var(--text_color);
}
footer .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .adres {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;   
}
footer .info_link a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: rgba(255, 255, 255, 0.37);
    display: block;
}
footer .bottom {
    margin-top: 0;
    margin-bottom: 41px;
}


.modal {
    display: none;
    max-width: 400px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 55px 50px 47px;
}
.modal_title {
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: var(--text_color); 
}
.modal .line {
    width: 100%;
    margin-bottom: 25px;
}
.modal .line:last-child {
    margin-bottom: 0;
}
.modal .field {
    width: 100%;
}
.modal .input {
    width: 100%;
    height: 55px;
    background: #F0F2FA;
    border: 1px solid #DDE0EB;
    border-radius: 10px;
    padding: 0 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #9A9EAA;    
}
.modal input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #9A9EAA; 
}
.modal input::-moz-placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #9A9EAA; 
}
.modal input:-moz-placeholder { 
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #9A9EAA; 
}
.modal input:-ms-input-placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #9A9EAA;  
}
.modal .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;
    margin-bottom: 26px;
    margin-top: 25px;
    height: 76px;
}
.modal .btn img {
    width: 8px;
    height: 14px;
    display: block;
}
.form input[type=checkbox] {
    display: none;
}
.form input[type=checkbox] + label {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    
    color: var(--text_color); 

    position: relative;

    display: table-cell;

    height: 20px;
    padding-left: 30px;

    cursor: pointer;
    text-align: left;
    vertical-align: middle;
}
.form input[type=checkbox] + label:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 22px;
    height: 22px;

    content: '';
    transition: .2s linear;

    background: #F0F2FA;
    border: 1px solid #DDE0EB;
    border-radius: 3px;
}
.form input[type=checkbox].error + label:before {
    border-color: red;
}
.form input[type=checkbox] + label:after {
    position: absolute;
    top: 7px;
    left: 5px;

    display: block;

    width: 10px;
    height: 6px;

    content: '';
    transition: opacity .2s linear;
    transform: rotate(-45deg);

    opacity: 0;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
}
.form input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.fancybox__content>.carousel__button.is-close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #CACDD8;
    box-shadow: none;
    padding: 10px;
}






